<ion-header>
  <ion-navbar>
    <ion-title>
      Gift Card Details
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
    <wait *ngIf="waiting"></wait>
    <ion-list>
        <ion-item>
            Card #: {{giftcard?.number}}
        </ion-item>
        <ion-item>
            Type: {{giftcard?.giftCardType?.type }}
        </ion-item>
        <ion-item>
            Issue Date: {{giftcard?.issueDate | date: 'MMM dd, yyyy'}}
        </ion-item>
        <ion-item>
            Expiry Date: {{giftcard?.expiryDate | date: 'MMM dd, yyyy'}}
        </ion-item>
        <ion-item>
            Amount: ${{giftcard?.amount | number: '1.2'}}
        </ion-item>
        <ion-item>
            Notes: {{giftcard?.notes }}
        </ion-item>
    </ion-list>
    <br/>
    <hr/>
    <i>Last updated at {{giftcard?.updatedAt | date: 'yyyy-MM-dd hh:mm a'}} by {{giftcard?.updatedBy}}</i>
    <br/>
    <br/>
    <div style="text-align: center;">
        <button ion-button (click)="edit();"> Edit</button>
        <button ion-button color="danger" (click)="delete();"> Delete</button>
    </div>
</ion-content>